In [40]:
# libraries
import pandas as pd
import numpy as np

In [41]:
# # TODO 1:load all the datasets
df2020 = pd.read_csv('/Users/maiara/Documents/AdventureWorks Raw Data/AdventureWorks Sales Data 2020.csv')
df2021 = pd.read_csv('/Users/maiara/Documents/AdventureWorks Raw Data/AdventureWorks Sales Data 2021.csv')
df2022 = pd.read_csv('/Users/maiara/Documents/AdventureWorks Raw Data/AdventureWorks Sales Data 2022.csv')

In [42]:
# Data exploration

# TODO 2: check the number of rows and columns, data types of each column, missing values.

list = [df2020,df2021,df2022]
for df in list:
    print(df.head()) #mostra as 5 primeiras linhas
    print(df.tail()) #mostra as 5 ultimas linhas
    print(df.info()) #info on all column names and their indexes, if there are null cells, dtype of each column
    print(df.describe()) #count, mean, standar deviation, minimum and maximum values, first, second and third quantiles.

    OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  TerritoryKey  \
0  2020-01-01  2019-09-21     SO45080         332        14657             1
1  2020-01-01  2019-12-05     SO45079         312        29255             4
2  2020-01-01  2019-10-29     SO45082         350        11455             9
3  2020-01-01  2019-11-16     SO45081         338        26782             6
4  2020-01-02  2019-12-15     SO45083         312        14947            10

   OrderLineItem  OrderQuantity
0              1              1
1              1              1
2              1              1
3              1              1
4              1              1
       OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  \
2625  2020-12-31  2020-11-29     SO48728         354        13111
2626  2020-12-31  2020-11-14     SO48729         324        26563
2627  2020-12-31  2020-12-02     SO48724         340        20722
2628  2020-12-31  2020-10-09     SO48723         369        14944
2629  2020-12-31  2020-11-22     SO48726         383        24915

      TerritoryKey  OrderLineItem  OrderQuantity
2625             9              1              1
2626             9              1              1
2627             8              1              1
2628             7              1              1
2629             9              1              1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      2630 non-null   object
 1   StockDate      2630 non-null   object
 2   OrderNumber    2630 non-null   object
 3   ProductKey     2630 non-null   int64
 4   CustomerKey    2630 non-null   int64
 5   TerritoryKey   2630 non-null   int64
 6   OrderLineItem  2630 non-null   int64
 7   OrderQuantity  2630 non-null   int64
dtypes: int64(5), object(3)
memory usage: 164.5+ KB
None
        ProductKey   CustomerKey  TerritoryKey  OrderLineItem  OrderQuantity
count  2630.000000   2630.000000   2630.000000         2630.0         2630.0
mean    344.180608  18344.052471      6.587833            1.0            1.0
std      26.288429   5567.047291      2.915261            0.0            0.0
min     310.000000  11090.000000      1.000000            1.0            1.0
25%     314.000000  13118.250000      4.000000            1.0            1.0
50%     348.000000  16828.500000      8.000000            1.0            1.0
75%     370.000000  22859.250000      9.000000            1.0            1.0
max     389.000000  29481.000000     10.000000            1.0            1.0
    OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  TerritoryKey  \
0  2021-01-01  2020-10-17     SO48797         385        14335             1
1  2021-01-01  2020-09-30     SO48802         383        24923             9
2  2021-01-01  2020-11-29     SO48801         326        15493             1
3  2021-01-01  2020-11-16     SO48799         352        26708             4
4  2021-01-01  2020-12-16     SO48798         369        23332             9

   OrderLineItem  OrderQuantity
0              1              1
1              1              1
2              1              1
3              1              1
4              1              1
        OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  \
23930  2021-12-31  2021-12-11     SO61111         591        17841
23931  2021-12-31  2021-10-15     SO61147         464        12146
23932  2021-12-31  2021-11-04     SO61147         528        12146
23933  2021-12-31  2021-11-09     SO61147         215        12146
23934  2021-12-31  2021-11-16     SO61147         537        12146

       TerritoryKey  OrderLineItem  OrderQuantity
23930            10              1              1
23931             4              4              2
23932             4              1              2
23933             4              3              1
23934             4              2              1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23935 entries, 0 to 23934
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      23935 non-null  object
 1   StockDate      23935 non-null  object
 2   OrderNumber    23935 non-null  object
 3   ProductKey     23935 non-null  int64
 4   CustomerKey    23935 non-null  int64
 5   TerritoryKey   23935 non-null  int64
 6   OrderLineItem  23935 non-null  int64
 7   OrderQuantity  23935 non-null  int64
dtypes: int64(5), object(3)
memory usage: 1.5+ MB
None
         ProductKey   CustomerKey  TerritoryKey  OrderLineItem  OrderQuantity
count  23935.000000  23935.000000  23935.000000   23935.000000   23935.000000
mean     440.139837  18562.950783      6.275872       1.901817       1.513683
std      117.340544   5478.596821      2.961307       1.014709       0.616046
min      214.000000  11000.000000      1.000000       1.000000       1.000000
25%      362.000000  13555.500000      4.000000       1.000000       1.000000
50%      479.000000  17813.000000      7.000000       2.000000       1.000000
75%      529.000000  23137.000000      9.000000       2.000000       2.000000
max      606.000000  29483.000000     10.000000       8.000000       3.000000
    OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  TerritoryKey  \
0  2022-01-01  2021-12-13     SO61285         529        23791             1
1  2022-01-01  2021-09-24     SO61285         214        23791             1
2  2022-01-01  2021-09-04     SO61285         540        23791             1
3  2022-01-01  2021-09-28     SO61301         529        16747             1
4  2022-01-01  2021-10-21     SO61301         377        16747             1

   OrderLineItem  OrderQuantity
0              2              2
1              3              1
2              1              1
3              2              2
4              1              1
        OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  \
29476  2022-06-30  2022-03-22     SO74143         477        28517
29477  2022-06-30  2022-03-15     SO74143         479        28517
29478  2022-06-30  2022-04-08     SO74143         606        28517
29479  2022-06-30  2022-05-15     SO74124         480        21676
29480  2022-06-30  2022-05-04     SO74124         538        21676

       TerritoryKey  OrderLineItem  OrderQuantity
29476            10              3              2
29477            10              2              1
29478            10              1              1
29479             7              2              2
29480             7              1              2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29481 entries, 0 to 29480
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      29481 non-null  object
 1   StockDate      29481 non-null  object
 2   OrderNumber    29481 non-null  object
 3   ProductKey     29481 non-null  int64
 4   CustomerKey    29481 non-null  int64
 5   TerritoryKey   29481 non-null  int64
 6   OrderLineItem  29481 non-null  int64
 7   OrderQuantity  29481 non-null  int64
dtypes: int64(5), object(3)
memory usage: 1.8+ MB
None
         ProductKey   CustomerKey  TerritoryKey  OrderLineItem  OrderQuantity
count  29481.000000  29481.000000  29481.000000   29481.000000   29481.000000
mean     446.461382  19116.104406      6.207727       1.984804       1.537058
std      121.027611   5329.153213      2.957099       1.032695       0.617249
min      214.000000  11001.000000      1.000000       1.000000       1.000000
25%      381.000000  14551.000000      4.000000       1.000000       1.000000
50%      480.000000  18362.000000      7.000000       2.000000       1.000000
75%      530.000000  23701.000000      9.000000       3.000000       2.000000
max      606.000000  29480.000000     10.000000       8.000000       3.000000

In [43]:
# # TODO 3: combine the three datasets into a single dataframe using pd.concat() function.

# Documentation: pd.concat() is a function in pandas library to concatenate objects (series, dataframes etc)
# pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, names=None, verify_integrity=False, sort=False, copy=None)
# where objs is a sequence or mapping for pandas objects to concatenate
# axis = 0 sets the axis to concatenate along: axis = 0 (default) - concatenate vertically, stacking objects on top of each other
# axis = 1 - concatenates horizontally, column-wise

list = [df2020,df2021,df2022]
df = pd.concat(list, axis=0) #in this case we want to concatenate the dataframes vertically
print(df.head())
print(df.tail())

    OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  TerritoryKey  \
0  2020-01-01  2019-09-21     SO45080         332        14657             1
1  2020-01-01  2019-12-05     SO45079         312        29255             4
2  2020-01-01  2019-10-29     SO45082         350        11455             9
3  2020-01-01  2019-11-16     SO45081         338        26782             6
4  2020-01-02  2019-12-15     SO45083         312        14947            10

   OrderLineItem  OrderQuantity
0              1              1
1              1              1
2              1              1
3              1              1
4              1              1
        OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  \
29476  2022-06-30  2022-03-22     SO74143         477        28517
29477  2022-06-30  2022-03-15     SO74143         479        28517
29478  2022-06-30  2022-04-08     SO74143         606        28517
29479  2022-06-30  2022-05-15     SO74124         480        21676
29480  2022-06-30  2022-05-04     SO74124         538        21676

       TerritoryKey  OrderLineItem  OrderQuantity
29476            10              3              2
29477            10              2              1
29478            10              1              1
29479             7              2              2
29480             7              1              2

In [44]:
# How about if we add the product price to the dataframe? 
product_lookup = pd.read_csv('/Users/maiara/Documents/AdventureWorks Raw Data/AdventureWorks Product Lookup.csv')

df = df.merge(product_lookup[['ProductKey', 'ProductPrice', 'ProductCost']], on = "ProductKey", how = 'left')
print(df.head())
print(df.info())
print(df.describe())
# product_lookup[['ProductKey', 'ProductPrice']] tells pandas to only bring in those two columns from the second DataFrame.
# the use of two brackets [[]] is because we are getting more than one column from product_lookup: 
# one pair of brackets > pandas will handle as a series; two pairs > handles as dataframe
# on='ProductKey' tells pandas to match rows using the ProductKey column.
# how='left' keeps all rows from df2020 (sales) even if a matching price is not found.

    OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  TerritoryKey  \
0  2020-01-01  2019-09-21     SO45080         332        14657             1
1  2020-01-01  2019-12-05     SO45079         312        29255             4
2  2020-01-01  2019-10-29     SO45082         350        11455             9
3  2020-01-01  2019-11-16     SO45081         338        26782             6
4  2020-01-02  2019-12-15     SO45083         312        14947            10

   OrderLineItem  OrderQuantity  ProductPrice  ProductCost
0              1              1      699.0982     413.1463
1              1              1     3578.2700    2171.2942
2              1              1     3374.9900    1898.0944
3              1              1      699.0982     413.1463
4              1              1     3578.2700    2171.2942
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56046 entries, 0 to 56045
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      56046 non-null  object
 1   StockDate      56046 non-null  object
 2   OrderNumber    56046 non-null  object
 3   ProductKey     56046 non-null  int64
 4   CustomerKey    56046 non-null  int64
 5   TerritoryKey   56046 non-null  int64
 6   OrderLineItem  56046 non-null  int64
 7   OrderQuantity  56046 non-null  int64
 8   ProductPrice   56046 non-null  float64
 9   ProductCost    56046 non-null  float64
dtypes: float64(2), int64(5), object(3)
memory usage: 4.3+ MB
None
         ProductKey   CustomerKey  TerritoryKey  OrderLineItem  OrderQuantity  \
count  56046.000000  56046.000000  56046.000000   56046.000000   56046.000000
mean     438.962103  18843.645559      6.254666       1.903151       1.501873
std      118.612352   5412.449843      2.958005       1.021006       0.612379
min      214.000000  11000.000000      1.000000       1.000000       1.000000
25%      360.000000  14016.000000      4.000000       1.000000       1.000000
50%      479.000000  18157.000000      7.000000       2.000000       1.000000
75%      529.000000  23425.750000      9.000000       2.000000       2.000000
max      606.000000  29483.000000     10.000000       8.000000       3.000000

       ProductPrice   ProductCost
count  56046.000000  56046.000000
mean     438.969347    255.750403
std      838.650049    496.192920
min        2.290000      0.856500
25%        7.950000      2.973300
50%       29.990000     11.216300
75%      159.000000     59.466000
max     3578.270000   2171.294200

Now, lets add a new column to calculate something, like the profit or discount using Numpy.

In [ ]:
# TODO 4: Calculate the revenue and add it as new column.

df['Revenue'] = df['ProductPrice'] * df['OrderQuantity']
print(df.head())

    OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  TerritoryKey  \
0  2020-01-01  2019-09-21     SO45080         332        14657             1
1  2020-01-01  2019-12-05     SO45079         312        29255             4
2  2020-01-01  2019-10-29     SO45082         350        11455             9
3  2020-01-01  2019-11-16     SO45081         338        26782             6
4  2020-01-02  2019-12-15     SO45083         312        14947            10

   OrderLineItem  OrderQuantity  ProductPrice  ProductCost    Revenue
0              1              1      699.0982     413.1463   699.0982
1              1              1     3578.2700    2171.2942  3578.2700
2              1              1     3374.9900    1898.0944  3374.9900
3              1              1      699.0982     413.1463   699.0982
4              1              1     3578.2700    2171.2942  3578.2700

In [55]:
# TODO 5: Calculate average Revenue for each product over the years and filter revenue higher than 1000.

# Get unique ProductKeys
product_keys = df['ProductKey'].unique()
avg_revenue_list = []
# Loop through each ProductKey and calculate the mean
for key in product_keys:
    avg_revenue = np.mean(df[df['ProductKey'] == key]['Revenue'])
    avg_revenue_list.append({'ProductKey': key, 'AverageRevenue':avg_revenue}) #.2f shows 2 digit after decimal point
    
avg_revenue_df = pd.DataFrame(avg_revenue_list)
print(avg_revenue_df)

     ProductKey  AverageRevenue
0           332        699.0982
1           312       3578.2700
2           350       3374.9900
3           338        699.0982
4           310       3578.2700
..          ...             ...
125         572        742.3500
126         563       2384.0700
127         568        742.3500
128         567        742.3500
129         570        742.3500

[130 rows x 2 columns]

In [58]:
# TODO 6: Filter the average revenue that are higher than some value.

filtered_df = avg_revenue_df[avg_revenue_df['AverageRevenue']>2500]
print(filtered_df)

    ProductKey  AverageRevenue
1          312         3578.27
2          350         3374.99
4          310         3578.27
5          314         3578.27
6          345         3399.99
7          313         3578.27
8          351         3374.99
9          344         3399.99
11         348         3374.99
12         311         3578.27
15         349         3374.99
16         346         3399.99
19         347         3399.99

In [62]:
product_keys = df['ProductKey'].unique()
mean_revenue_list = []

for key in product_keys:
    subset = df[df['ProductKey'] == key]
    total_revenue = subset['Revenue'].sum()
    total_quantity = subset['OrderQuantity'].sum()
    mean_revenue = total_revenue / total_quantity if total_quantity != 0 else 0
    mean_revenue_list.append({'ProductKey': key, 
                              'MeanRevenue': mean_revenue,
                              'TotalOrderQuantity': total_quantity})

result_df = pd.DataFrame(mean_revenue_list)
print(result_df)

     ProductKey  MeanRevenue  TotalOrderQuantity
0           332     699.0982                  64
1           312    3578.2700                 179
2           350    3374.9900                  31
3           338     699.0982                  50
4           310    3578.2700                 169
..          ...          ...                 ...
125         572     742.3500                  48
126         563    2384.0700                 153
127         568     742.3500                  59
128         567     742.3500                  63
129         570     742.3500                  47

[130 rows x 3 columns]

In [60]:
filter_df = result_df[result_df['MeanRevenue']>2500]
print(filter_df)

    ProductKey  MeanRevenue
1          312      3578.27
2          350      3374.99
4          310      3578.27
5          314      3578.27
6          345      3399.99
7          313      3578.27
8          351      3374.99
9          344      3399.99
11         348      3374.99
12         311      3578.27
15         349      3374.99
16         346      3399.99
19         347      3399.99

In [61]:
print(df.tail())

        OrderDate   StockDate OrderNumber  ProductKey  CustomerKey  \
56041  2022-06-30  2022-03-22     SO74143         477        28517
56042  2022-06-30  2022-03-15     SO74143         479        28517
56043  2022-06-30  2022-04-08     SO74143         606        28517
56044  2022-06-30  2022-05-15     SO74124         480        21676
56045  2022-06-30  2022-05-04     SO74124         538        21676

       TerritoryKey  OrderLineItem  OrderQuantity  ProductPrice  ProductCost  \
56041            10              3              2          4.99       1.8663
56042            10              2              1          8.99       3.3623
56043            10              1              1        539.99     343.6496
56044             7              2              2          2.29       0.8565
56045             7              1              2         21.49       8.0373

       Revenue
56041     9.98
56042     8.99
56043   539.99
56044     4.58
56045    42.98